legend {
	color:#922B21;
	font-weight: bold;
}

fieldset {
	width:300px;
	margin-left: auto;
	margin-right: auto;
	border-color:#922B21;
	font-family: Arial; 
}

input {
	margin: 10px;
}

label, textarea {
	margin:10px;
}

input[type=text]:hover, input[type=email]:hover, input[type=tel]:hover, textarea:hover{ 
	background: #ffffff; 
	border:3px solid #990000;
	border-radius: 5px;
}

input[type=submit]{
    background:#922B21;
    color:#ffffff;
	font-size:15px;
	font-weight:bold;
	margin-left: 35%;
}